* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-color: white;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: auto;
}
